<!-- Cree el html para mostrar el contenido que necesita -->
<div class="card" style="width: 18rem;">
    
    <img src="https://images.mrcook.app/recipe-image/0191d19a-f504-70a7-a8dd-f4f8f8bfe3da" class="card-img-top"
        alt="...">

    <div class="card-body">
        <h5 class="card-title">Nombre producto</h5>
        <h6>Categoría</h6>
        <h6>Disponible</h6>
        <h6>Cantidad: 5</h6>
        <h6>Precio</h6>

        <a href="#" class="btn btn-primary">Comprar</a>
    </div>

</div>