<!-- <h1>MIS PRIMEROS PASOS ANGULAR</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque laudantium minima dignissimos tempore voluptatum vero, consequatur laboriosam pariatur praesentium vel saepe ratione rerum quod nihil facere architecto repellendus nisi tempora.</p>

<ol>
  <li class="lista">Elemento1</li>
  <li>Elemento2</li>
  <li>Elemento3</li>
  <li>Elemento4</li>
  <li>Elemento5</li>
</ol> -->
 


<!-- Es el responsable de que mi APP (Proyecto de front) tenga rutas -->
 <!-- Es el que permite que las rutas funcionen y me muestren el contenido -->
<router-outlet />


